$dark-accent-color: #282a36;
$dark-secondary-color: #44475b;
$speech-arrow-size: 0.625em;
$dark-blue-color: #578ec9;
$primary-text-color: #5f6fa2;
$primary-text-color: #5f6fa2;
$dark-orange-color: #ffb965;
$blue-gradient: linear-gradient(to right, rgba($dark-blue-color, .6), $dark-blue-color);

$sidebar-header-height: 30px;
$sidebar-footer-height: 45px;
$avatar-size: 40px;
$avatar-size-lg: 55px;
